h1 {
  text-align: center;
  font-size: 60px;
  color: black;                                                                 ;
}
body {
background-image: url("../img/sky.gif");
}
.hub {
  font-size: 50px;
  text-align: ;
}
topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 50px;
}
navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 50px;
}
.active {
  background-color: #4CAF50;
}
.navbar a:hover {
  background-color: #000;
}
.img {
  float: left;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.top-right {
  position: absolute;
  top: 80px;
  right: 16px;
  color: #fff;
}
.company-box {
  padding: 20px;
}
.us
{
float: right;
font-size: 50px;
}
